<!--/* @thymesVar id="nanka" type="net.yewton.asobiba.nanka.web.Nanka" */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="~{fragments/head :: csrf} ?: _"></th:block>
    <link rel="stylesheet" th:href="@{/front/main.css}"/>
    <title>Hello, World!</title>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" th:src="@{/assets/lenna.png}" alt="" width="100" height="100">
    <h1 class="display-5 fw-bold" th:text="${nanka.hoge} + ', ' + ${nanka.fuga}">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
            popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
            extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3"
                    data-bs-toggle="popover" title="Custom popover" data-bs-content="This is a Bootstrap popover.">
                Primary button
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            <div class="container unauthenticated">
                With GitHub: <a th:href="@{/oauth2/authorization/github}">click here</a>
            </div>
            <div class="container authenticated" style="display:none">
                Logged in as: <span id="user"></span>
                <div>
                    <button type="button" id="buttonLogout" class="btn btn-primary">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" th:src="@{/front/top.bundle.js}"></script>
<div th:replace="~{fragments/top-extra :: body-bottom} ?: _"></div>
</body>
</html>
