<!--/* @thymesVar id="nanka" type="net.yewton.asobiba.nanka.web.Nanka" */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
      th:replace="~{layout :: main (~{ :: title}, ~{ :: body/content()})}">
<head>
    <title>マイページ</title>
</head>
<body>
<div class="px-4 py-4 my-4 text-center">
    <h1>マイページ</h1>
    <div class="container-md">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
