<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<body>

<th:block th:fragment="body-bottom">
    <script type="module" th:src="@{/preview/common.bundle.js}"></script>
    <button type="button" id="#debug-button" data-bs-toggle="modal" data-bs-target="#debugModal"
            class="position-absolute bottom-0 end-0 translate-middle btn btn-sm btn-primary rounded-pill"
            style="width: 2rem; height:2rem;">+</button>
    <div class="modal fade" id="debugModal" tabindex="-1" aria-labelledby="debugModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="debugModalLabel">デバッグメニュー</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>ログイン状態</legend>
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="debugLoginSwitch">
                                <label class="form-check-label" for="debugLoginSwitch">ログインしたことにする</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>
